body {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center; /* vertical alignment */
  position: fixed;
  z-index: 1;
  width: 100%;
  height:69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  font-weight: bold;
  margin-top: 0;
}


h2 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav span {
  color: seashell;
  font-size: 15px;
  text-decoration: underline;
  display: inline-block;
  padding: 6px 6px;
  margin-right: 10px;
}

.navigation {
  color:seashell;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.mission .image-content{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  text-align: center;
  font-size: 40px;
}

.mission .image-content .image-text{
  background-color: black;
  height: 120px;
  text-align: center;
}

.featured-tea {
  text-align: center;
  width: 1200px;
}
